*{
  scroll-behavior: smooth;
}
.logo{
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 50px;
  height: 56px;
  background:  #64FFDA;
  /* position: relative; */
}
.logo span{
  width: 100%;
    text-align: center;
    line-height: 53px;
    display: inline-block;
    /* position: relative;
    top: 0; */
}
/* .title{
  position: relative;
}
.title::after{
  content: '';
  position: absolute;
  width: 30%;
  top: 50px;
  height: 1px;
  background: gray;

} */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background:#64FFDA ;
  transform-origin: 0%;
  z-index: 99;
}
.activeHeader{
  transform: translateY(0px);
  transition: .5s all;
}
.img-wrap{
  position: relative;
  z-index: 1;
}
.img-wrap::after{
  content: '';
  border: 2px solid #64FFDA;
  border-radius: 10px;
  position: absolute;
  top: 14px;
  left: 14px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .3s ease-in-out;

}
.img-wrap:hover::after{
  top: 26px;
  left: 26px;
}
.img-wrap:hover{
  transform: translateX(-8px) translateY(-8px);
  transition: .3s ease-in-out;
}
.img-wrap::before{
  width: 100%;
  height: 100%;
  background: #64ffdb91;
  position: absolute;
  top: 0;
  content: '';
  border-radius: 10px;
  left: 0;
}
.img-wrap:hover::before{
  background: transparent;
  transition: .3s ease-in-out;
}
.btnEffect{
  border: 2px solid #64FFDA;
  color: #64FFDA;
}
.btnEffect:hover{
  transform: translateX(-4px) translateY(-4px);
  box-shadow: 4px 4px #64FFDA;
  transition: .3s;
}
.linkAftr::after{
    content: "";
    height: 132px;
    width: 2px;
    background: rgb(107, 103, 103);
    position: fixed;
    bottom: 0;
}
.socialWrap::after{
  left: 29px;
}
.email{
  writing-mode:tb;
}
.email::after{
  right: 33px;
}

.projectImg::after{
  background: #64ffdb67;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s ease-in-out;
}
.projectImg:hover:after{
  background: transparent;
}

/* 
.welcomepage{
  min-height: 100vh;
  background: #000000;
  position: relative;
  z-index: 999;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
} */